@model Newtonsoft.Json.Linq.JToken

@{
    ViewBag.Title = "Pokedex";
    int cont = 0;
    string color;
}

<div class="d-flex justify-content-center align-content-center">
    <h2>@ViewBag.Title</h2>
</div>

<br />

<table class="table table-striped table-hover" style="border: 2px rgb(76, 181, 182) solid;">
    <thead>
        <tr class="text-center">
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (cont % 2 == 0)
            {
                color = "rgb(55, 97, 168, 0.5)";
            }else
            {
                color = "rgb(55, 97, 168, 0.3)";
            }

            cont += 1;

            <tr class="text-center" style="background-color:@color">
                <td><strong>@item["name"]</strong></td>
                <td>
                    <form action="@Url.Action("Detalles", "Pokemon")" method="get">
                        <input type="hidden" name="url" value="@(item["url"])" />
                        <button style="border: 2px rgb(76, 181, 182) solid; background-color: rgb(254, 202, 27)" type="submit" class="btn btn-sm"><strong>Ver detalles</strong></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
