@model Newtonsoft.Json.Linq.JToken

@{
    ViewBag.Title = "Pokedex";
}

<div class="d-flex justify-content-center align-content-center">
    <h2>@ViewBag.Title</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item["name"]</td>
                <td>
                    <form action="@Url.Action("Detalles", "Pokemon")" method="get">
                        <input type="hidden" name="url" value="@(item["url"])" />
                        <button type="submit" class="btn btn-primary btn-sm">Ver detalles</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
